.custom-sider {
  background-color: #001529;
}

.custom-menu {
  padding-top: 20px;
}

.custom-menu .ant-menu-item-selected {
  background-color: rgba(255, 254, 254, 0.181);
}

.custom-menu .ant-menu-item-selected .anticon,
.custom-menu .ant-menu-item-selected span {
  color: #10b981 !important;
}
.welcome {
  display: flex;
  padding: 8px;
  padding-top: 20px;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  background-color: #001529;
}

.logout {
  padding-top: 50px;
  width: 170px;
  padding-left: 100px;
}

.logout-btn {
  background-color: #10b981;
}

.logout :hover {
  background-color: #0f5a1f;
}
